<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Skraper</title>

	{{!-- CSS Local File --}}
	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	{{!-- JS Local File --}}
	<script src="/js/skraper.js"></script>

</head>

<body>
	{{{ body }}}

	{{!-- JQuery CDN uncompressed --}}
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

</body>

</html>