<nav class="navbar navbar-dark bg-dark sticky-top">
  <form class="form-inline">
    <span style="color:lavender">Skraper</span>
    
    <a class="navbar-brand" href="/">
      <span class="btn btn-light ml-1"><i class="fas fa-satellite-dish ml-1"></i></span>
    </a>
  </form>
</nav>

<div class="container">
    <div class="row">
        <div class = "col">
            {{> notes/event-note}}
        </div>
    </div>
</div>