<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <span><i class="fas fa-satellite-dish"></i></span>
    Skraper
  </a>
</nav>

<div class="container">
    <div class="row">
        <div class = "col">
            {{> notes/event-note}}
        </div>
    </div>
</div>