<!-- Image and text -->
<nav class="navbar navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">
    <span><i class="fas fa-satellite-dish"></i></span>
    Skraper
  </a>
</nav>

<div class="container">
    <div class="row">
        {{#if event includeZero=true }}
            {{#each event}}
                {{> events/event-card}}
            {{/each}}
        {{/if}}
    </div>
</div>