<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark sticky-top">
  <form class="form-inline">
    <span style="color:lavender">Skraper</span>
    <span id="skrape" class="btn btn-light ml-1"><i class="fas fa-satellite-dish ml-1"></i></span>
  </form>
</nav>


<div class="container">
  <div class="row">
    {{#if event includeZero=true }}
    {{#each event}}
    {{> events/event-card}}
    {{/each}}
    {{/if}}
  </div>
</div>